* {
  box-sizing: border-box;
}

body {
  background: rgb(248, 248, 227);
}

.password-strength {
  display: flex;
  justify-content: space-evenly;
}

.message {
  margin: 10px auto;
  color: blue;
  font-size: 2em;
  font-family: monospace;
}

input {
  height: 30px;
  border-radius: 5px;
  width: 200px;
  font-size: 1.25em;
}

.progressbar {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

label {
  margin: auto 5px;
  font-size: 1.5em;
  text-shadow: 2px 3px 4px rgb(200, 142, 241);
}

.password-validator {
  position: absolute;
  top: 30%;
  left: 20%;
  margin: auto 50px;
  padding: 50px;
  border: 1px solid green;
  border-radius: 10px;
  box-shadow: 8px 4px 20px 5px rgb(159, 172, 243);
  min-width: 60%;
}
